<div class="row" style="padding: 10px 0px 0px 22px;">
    <div class="col-md">
        <label for="Typ">Typ</label>
        <select class="form-control" id="SelectTyp">
            <option>Alle</option>
            <option>Studienbescheinigung</option>
            <option>Informatik</option>
            <option>MCD</option>
        </select>
    </div>
    <div class="col-md">
        <label for="Zeitraum">Zeitraum</label>
        <select class="form-control" id="SelectZeitraum">
            <option>Alle</option>
            <option>2018</option>
            <option>2018</option>
            <option>2016</option>
            <option>2015</option>
        </select>
    </div>
    <div class="col-md" style="padding-top:30px">
        <button type="submit" class="btn btn-lg btn-secondary">Filtern</button>
    </div>
</div>