<div ng-controller="Filter" class="row" style="padding: 10px 0px 0px 22px;">
    <div class="col-md">
        <label for="Typ">Typ</label>
        <select id="catselect" class="form-control" ng-model="mySelect" ng-change="showSelectValue(mySelect)">
            <option [value]="category" *ngFor="let category of categories">{{category.name}}</option>
        </select>

        
        <!--<select class="form-control" ng-model="selectedCar">
            <option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>
        </select>
        
        <h1>You selected: {{selectedCar}}</h1>
        -->
            
     
    </div>
    <div class="col-md">
        <label for="Zeitraum">Zeitraum</label>
        <select class="form-control" id="SelectZeitraum">
            <option>Alle</option>
            <option>2018</option>
            <option>2018</option>
            <option>2016</option>
            <option>2015</option>
        </select>
    </div>
    <div class="col-md" style="padding-top:30px">
        <button (click)="test()" class="btn btn-lg btn-secondary">Filtern</button>
    </div>
</div>