<div ng-controller="Filter" class="row" style="padding: 10px 0px 0px 22px;">
    <div class="col-md">
        <label for="Typ">Typ</label>
        <form [formGroup]="form">
            <select formControlName="categoryControl" id="categorySelect" name="categorySelect" class="form-control">
                <option value="All">All</option>
                <option *ngFor="let category of categories">
                    {{ category.name }}
                </option>
            </select>
        </form>
        <p>Form value: {{ form.value | json }}</p>

    </div>
    <!--
    <div class="col-md">
        <label for="Zeitraum">Zeitraum</label>
        <select class="form-control" id="SelectZeitraum">
            <option>Alle</option>
            <option>2018</option>
            <option>2018</option>
            <option>2016</option>
            <option>2015</option>
        </select>
    </div>
    -->
    <div class="col-md" style="padding-top:30px">
        <button (click)="filter(form.get('categoryControl').value)" class="btn btn-lg btn-secondary">Filtern</button>
    </div>
</div>