<!--
<div class="row bg-dark bgbild">
  <div class="offset-md-4">
  </div>
  <div class="col-md-4" style="text-align: center">

    <img src="assets/img/fh/logo.png" alt="Logo" height="250" width="400" style="align-content: center">

    <form>
      <div class="form-group">
        <div class="col-md">
          <label for="Username"></label>
          <input type="username" class="form-control" id="username" placeholder="&#x09;Username" style="background-color:transparent">
        </div>
        <div class="col-md">
          <label for="Password"></label>
          <input type="Password" class="form-control" id="password" placeholder="&#x09;Passwort" style="background-color:transparent">
        </div>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="checkbox">
        <label class="form-check-label" for="checkbox" style="color: white"> Eingeloggt bleiben</label>
      </div>
      <br>

      <button type="submit" class="btn btn-outline btn-sm btn-block">Login</button>

      <br>

      <a href="" id="passwortVergessen">Passwort vergessen?</a>

      <br>
      <br>
      <br>

      <button type="submit" class="btn btn-outline btn-sm btn-block" style="background-color:#246766">Als
        Administrator anmelden</button>

      <br>

      <button type="submit" class="btn btn-outline btn-sm btn-block" style="background-color:#246766">Als Gast
        anmelden</button>
    </form>

  </div>
</div> -->
*<ng-container *ngIf="!(this.authService.isLoggedin); else elseTemplate">
    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.username.errors }" />
            <div *ngIf="submitted && loginForm.controls.username.errors" class="invalid-feedback">
                <div *ngIf="loginForm.controls.username.errors.required">Username is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors }" />
            <div *ngIf="submitted && loginForm.controls.password.errors" class="invalid-feedback">
                <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Login</button>
        </div>
      </form>
</ng-container>
<ng-template #elseTemplate>
      <button (click)="logout()">Logout</button>
</ng-template>




