div.bgbild {
    background: url(/assets/img/fh/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100%;
}

button {
    background-color: #00b5ad;
    text-align: center;
}

div.img-div {
    padding-top:100px;
    align-content: center;
}

form {
    padding-top:80px;
}

input:focus, input:active{
    border-color: #00b5ad;
    background: transparent;
    color: white;
}

input:focus::-webkit-input-placeholder {
    color:transparent;

}

input {
    background: transparent;
    color: white;
    border-style: solid;
    border-width: 2px;
}

input::placeholder {
    color: white;
}



