.delete {
    -webkit-appearance: button;
    float: right;
    background: transparent;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 10px;
    border: 1.5px solid white;
    color:white;
    font-weight:400;
}

.small, small {
    float: left;
}

.add-btn-processes {
    background:#00b5ad;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    margin-left: 20px;
    border-color: transparent;
    color: white;
}

.processes {
    margin-left:45px; 
    margin-right:45px;
}

h2 {
    font-weight:300; 
    font-size: 14px; 
    color: #4d4d4d; 
    margin-bottom:10px;
}

h3 {
    font-weight:600; 
    font-size: 14px; 
    padding-top: 10px;
    padding-bottom: 5px;
}

.add_icon {
    font-size:70px;
    padding-top: 50px;
    padding-bottom: 70px;
    display: inline-flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align:center;
}
