<div class="processes">

  <!--First Row-->
  <div class="row" style=" margin-top:50px;">
    <h2>Dies ist die Prozess-Seite. Man kann
      mehr Details über ein Prozess sehen, indem man auf den
      „Mehr“-Button klickt.
      Man kann auch jederzeit einen neuen Prozess hinzufügen oder Prozesse aus der Übersicht löschen.</h2>
  </div>
  <!--First Row-->

  <!--Search-->
  <div class="row" style="padding:0;">
    <div class="col-md" style="padding-left:0; padding-right:0;">
      <input type="suchbegriff" [(ngModel)]="searchText" class="form-control" id="suchbegriff" placeholder="Suchen">
    </div>
  </div>
  <!--Search-->


  <!--Third Row-->
  <div class="row" style="margin-top:50px; margin-left: -30px; margin-right: -30px;">

    <!--Show Processes-->
    <ng-container *ngFor="let process of processes | textFilterProcesses:searchText">
        <div class="col-md-3" style="margin-bottom:20px;">
          <div class="card-deck h-100 mb-3 fix">
            <div class="card" >
              <div class="card-header" ><a routerLink="/detail/{{process.processID}}">{{process.name}}</a>&nbsp;
                <ng-container *ngIf="this.token.roles.includes('role_admin','role_pruefungsamt', 'role_professor', 'role_mitarbeiter')">
                  <button class="delete-light" title="delete process" (click)="openDeleteDialog(process)" matTooltip="Löschen">x</button>
                </ng-container>
              </div>
              <div class="card-body" >
                <p class="card-text" style="color:#656565;">{{process.description}}</p>
                <a class="btn btn-secondary dark-blue" routerLink="/detail/{{process.processID}}">MEHR</a>
                <ng-container *ngIf="process.camunda_processID != 'None' && this.authService.isLoggedin">
                  <button class="btn btn-secondary start-process-btn" (click)="startProcess(process)">PROZESS STARTEN</button>
                </ng-container> 
              </div>
              <div class="card-footer">
                <small class="text-muted">Hinzugefügt: {{process.added}}</small>
              </div>
            </div>
          </div>
        </div>
    </ng-container>
    <!--Show Processes-->

    <!--Add Process-->
    <ng-container *ngIf="this.token.roles.includes('role_admin','role_pruefungsamt', 'role_professor', 'role_mitarbeiter')">
      <div class="col-md-3" style="margin-bottom:20px;">
        <div class="card-deck h-100 mb-3 fix">
          <div class="card" >
            <div class="card-header" style="color: #656565; border-bottom:none; padding-top: 5px; ">
              <h3>Prozess hinzufügen</h3>
            </div>
            <div class="card-body" >
              <p class="card-text" style="text-align:center;">
                <button class="plus-btn" (click)="openDialog()">
                  <mat-icon class="add_icon">library_add</mat-icon>
                </button></p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <!--Add Process-->

  </div>
  <!--Third Row-->

</div>