<div class="errors justify-content-center">

    <div class="row" style="font-family:'Verdana'; text-align: center;">
      <h1 style=" font-size:100px; margin-bottom:0;">
        <span style="color:#0b1921;">4</span>
        <span style="color:#00b5ad; margin-left:-30px;">0</span>
        <span style="color:#0b1921; margin-left:-30px;">1</span>
       
      </h1>
  
      <h4 style="color:#595757; text-transform: uppercase; font-weight:200; text-align:center;"> Sie sind nicht dazu berechtigt die Webseite zu betreten.</h4>
      ​<a routerLink="../#"><button class="btn btn-secondary" >ZURÜCK</button></a>
    </div>
   