<div class="processes">

  <div class="row" style="padding: 65px 30px 10px 37px;">
    <h2 style="color: black; font-weight:300; font-size: 17px;">Dies ist die Prozess-Seite. Man kann
      mehr Details über ein Prozess sehen, indem man auf den
      „Mehr“-Button klickt.
      Man kann auch jederzeit einen neuen Prozess hinzufügen oder Prozesse aus der Übersicht löschen.</h2>
  </div>

  <div class="row" style="padding: 10px 30px 10px 21px;">
    <div class="col-md">
      <input type="suchbegriff" [(ngModel)]="searchText" class="form-control" id="suchbegriff" placeholder="Suchen">
    </div>
  </div>

  <!--
  <app-filter></app-filter>
  -->

  <div class="row" style="padding: 25px 0px 0px 21px;">
    <ng-container *ngFor="let process of processes | textFilterProcesses:searchText">
      <div class="col-md-3">
        <div class="card-deck h-100 mb-3 text-center">
          <div class="card mb-3 box-shadow">
            <div class="card-header"><a routerLink="/detail/{{process.processID}}">{{process.name}}</a>&nbsp;
              <button class="delete" title="delete process" (click)="delete(process)" (click)="openSnackBar()" matTooltip="Löschen">x</button></div>
            <div class="card-body text-secondary d-flex flex-column">
              <p class="card-text">{{process.description}}</p>
              <a class="btn btn-sm btn-secondary mt-auto" routerLink="/detail/{{process.processID}}">Mehr</a>
              <ng-container *ngIf="process.camunda_processID != 'None'">
                <button class="btn btn-sm btn-secondary mt-auto" (click)="startProcess(process)">Prozess starten</button>
              </ng-container>
            </div>
            <div class="card-footer">
              <small class="text-muted">Hinzugefügt: {{process.added}}</small>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="col-md-3">
      <div class="card-deck h-100 mb-3 text-center">
        <div class="card mb-3 box-shadow">
          <div class="card-header" style="background-color: #0b1820a8;">Prozess hinzufügen</div>
          <div class="card-body">
            <p class="card-text" style="text-align:center;">
              <button class="btn btn-secondary round-plus-btn" (click)="openDialog()">+</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>