.table td, .table th {
    border-top: none;
}

.table th:nth-child(1) {
    font-weight:500;
}
.table th:nth-child(2) {
    font-weight:500;
}.table th:nth-child(3) {
    font-weight:500;
}

.dokumente {
    margin-left:30px; 
    margin-right:30px;
}

h2 {
    font-weight:300;
    font-size: 14px; 
    color: #4d4d4d; 
    margin-bottom:10px;
}

h3 {
    font-weight:100; 
    font-size:16px; 
    padding-top: 5px; 
    padding-bottom: 5px;
}



.card-header {
    color: #656565; 
    border-bottom:none;
}



p {
    text-align:center;
}

.add_icon {
    font-size:70px; 
    padding-top: 32px;
    padding-bottom: 83px; 
    display: inline-flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align:center;
}

.card-header{
    background-color: rgba(255, 255, 255, 0.03) !important;
  }

  .card-body[_ngcontent-c11] {
    background-color:white !important;
  }