<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
    <mat-nav-list>
        <a routerLink="/dashboard"><img src="assets/img/fh/logo.png" style="padding-bottom:60px; padding-top:5px;" alt="Logo" width="180" height="auto"></a>
      <div *ngIf="this.authService.isLoggedin">
        <p style="color:white;  margin-left: -50px; font-size:14px; font-weight:600;">{{this.authService.currentUser.lastName}}, {{this.authService.currentUser.firstName}}</p>
        <p style="color:white;  margin-left: -50px; font-size:12.5px; margin-top: -12px;">{{this.authService.currentUser.role | titlecase }}</p>
      </div>
      <a mat-list-item routerLink="/dashboard">
        <mat-icon>apps</mat-icon>&nbsp;ÜBERSICHT
      </a>
      <a mat-list-item routerLink="/processes">
        <mat-icon>settings</mat-icon>&nbsp;PROZESSE
      </a>
      <a mat-list-item routerLink="/myprocesses">
        <mat-icon>update</mat-icon>&nbsp;LAUFENDE PROZESSE
      </a>
      <a mat-list-item routerLink="/documents">
        <mat-icon>description</mat-icon>&nbsp;DOKUMENTE
      </a>
      <a mat-list-item routerLink="/systems">
        <mat-icon>build</mat-icon>&nbsp;SYSTEME
      </a>
      <a mat-list-item routerLink="/profil">
        <mat-icon>person</mat-icon>&nbsp;PROFIL
      </a>
      <div *ngIf="this.authService.isLoggedin">
        <a mat-list-item (click)="logout()">
          <mat-icon>input</mat-icon>&nbsp;ABMELDEN
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <nav class="navbar bg-light">
      
      <div class="col-3 col-sm-1 col-md-1">
        <button mat-button (click)="sidenav.toggle()"><i class="material-icons">menu</i></button>
      </div>
      <div class="col-5 col-sm-8 col-md-9">
        <h2 *ngIf="router.url == '/dashboard'">Übersicht</h2>
        <h2 *ngIf="router.url == '/processes'">Prozesse</h2>
        <h2 *ngIf="router.url == '/myprocesses'">Laufende Prozesse</h2>
        <h2 *ngIf="router.url == '/documents'">Dokumente</h2>
        <h2 *ngIf="router.url == '/systems'">Systeme</h2>
        <h2 *ngIf="router.url == '/profil'">Profil</h2>
        
      </div>
      <ng-container *ngIf="!(this.authService.isLoggedin); else elseTemplate">
        <div class="col-4 col-sm-3 col-md-2" >
          <div class="login-div" style="float:right;">
            <a href="/login" class="login">
              <mat-icon class="login-icon">input</mat-icon> Login
            </a>
          </div>
        </div>
      </ng-container>
      <ng-template #elseTemplate>
        <div class="col-4 col-sm-3 col-md-2" style="padding-left:0; padding-right:0;">
        <div style="float:right;"><button class="btn btn-secondary login" style=" padding-left: 0;padding-right: 0;margin-left: 0;margin-right: 0;" (click)="logout()">  Logout<mat-icon style="margin-left:10px;" >input</mat-icon></button>
      </div></div></ng-template>
  
    </nav>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>