<div *ngIf="process">

    <!--First Row-->
    <div class="row" style="margin-top:50px;">
        <div class="col-md-12">
            <h1 >{{process.name}}</h1>
        </div>
        <ng-container *ngIf="this.token.roles.includes('role_admin','role_pruefungsamt', 'role_professor', 'role_mitarbeiter')">
            <div class="col-md-12">
                <a href={{process.bpmn}} class="btn btn-lg btn-secondary" style="margin-right:30px;">Download BPMN</a>
            </div>
        </ng-container>
    </div>
    <!--First Row-->

    <!--Second Row-->
    <div class="row">
        <div class="col-md-12">
            <p>{{process.verbal}}</p>
        </div>
    </div>
    <!--Second Row-->

    <!--BPMN-->
    <ng-container *ngIf="this.token.roles.includes('role_admin','role_pruefungsamt', 'role_professor', 'role_mitarbeiter')">
        <div class="diagram-parent">
            <app-diagram url={{process.bpmn}}></app-diagram>
        </div>
    
    <!--BPMN-->


    <!--Third Row-->
        <div class="row">
            <div class="col md-12">
                <p >Sie können das Diagramm nach rechts bzw. links verschieben, indem
                    Sie die linke Maustaste geklickt halten und dabei verschieben.
                    Ausserdem können Sie das Diagramm durch STRG + Mausrad vergrößern bzw. verkleinern. </p>
            </div>
        </div>
    </ng-container>
    <!--Third Row-->
</div>