<h2>System löschen</h2>

<hr>

    
    <mat-dialog-content >

        <!--Frage-->
        {{confirmMessage}}
        <!--Frage-->


    </mat-dialog-content>


    <!--Buttons-->
    <mat-dialog-actions class="action-buttons">
        <button mat-raised-button (click)="onCloseConfirm()" class="bestaetigen-btn">
            <mat-icon class="bestaetigen-icon">done</mat-icon>BESTÄTIGEN
        </button> &nbsp;
        <button mat-raised-button (click)="onCloseCancel()" class="abbrechen-btn">
             <mat-icon class="abbrechen-icon">clear</mat-icon>ABBRECHEN
        </button>
    </mat-dialog-actions>
    <!--Buttons-->
