.delete {
    -webkit-appearance: button;
    float: right;
    background: transparent;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 10px;
    border: 1.5px solid white;
    color:white;
    background:white;
    color:#3b454b;
    font-weight:600;
}

.small, small {
    float: left;
}

.add-btn-processes {
    background:#00b5ad;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    margin-left: 20px;
    border-color: transparent;
    color: white;
}