<div class="errors">
    
    <div class="row">
        <div class="col-md-12">
            <h1>
                <span style="color:#0b1921;">4</span>
                <span style="color:#00b5ad;">0</span>
                <span style="color:#0b1921;">1</span>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h6> Sie sind nicht dazu berechtigt die Seite zu betreten.</h6>
            ​<a routerLink="/dashboard">
                <button class="btn btn-secondary">ZURÜCK</button>
            </a>
        </div>
    </div>

</div>