<div class="dokumente" style="margin-left:30px; margin-right:30px;">
    <div class="row" style=" margin-top:50px; margin-left:0; margin-right:0;">
        <h2 style="font-weight:300; font-size: 14px; color: #4d4d4d; margin-bottom:10px;">Dies ist die Dokumenten Seite.
        Hier können Sie, fürs Studium relevante, Dokumente herrunterladen</h2>
    </div>

    <div class="row" >
        <div class="col-md-12">
            <input type="suchbegriff" [(ngModel)]="searchText" class="form-control" id="suchbegriff" placeholder="Suchen">
        </div>
        <div class="col-md-10">
            <app-filter style="margin:0;"></app-filter>
            <button (click)="sortDocuments()" class="btn btn-lg btn-secondary" style="margin-right:30px;">Aktuellste zuerst</button>
            <button (click)="sortReverse()" class="btn btn-lg btn-secondary"> Reverse</button>
        </div>

    </div>

    

    <div class="row" style="margin-top:30px;">
        <div class="col-md-9 table-responsive">
            <table class=" table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name:</th>
                        <th scope="col">Kategorie:</th>
                        <th scope="col">Zuletzt geändert am:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let document of documents | textFilterDocuments:searchText">
                        <td><a href={{document.link}} style="color: black">{{document.name}}</a></td>
                        <td>{{document.categoriename}}</td>
                        <td>{{document.lastChanged}}</td>
                        <ng-container *ngIf="this.authorizationService.hasRole(['admin','pruefungsamt'])">
                        <td><button class="delete-dark" (click)="delete(document)" matTooltip="Löschen" matTooltipPosition="right">x</button></td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>

        <!--
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlFile1">Dokument hochladen</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
            </form>
        </div>
        -->
        <ng-container *ngIf="this.authorizationService.hasRole(['admin','pruefungsamt'])">
        <div class="col-md-3" style="margin-bottom:20px;">
        <div class="card-deck">
    <div class="card" style="border: 1px solid #e2e2e2;">
      <div class="card-header" style="color: #656565; border-bottom:none;">
        <h3 style="font-weight:600; font-size:14px; padding-top: 5px; padding-bottom: 5px;">Dokument hochladen</h3>
      </div>
      <div class="card-body" style="background-color: #ececec;">
          <p class="card-text" style="text-align:center;">
            <button class="plus-btn" (click)="openDialog()"><mat-icon class="add_icon"style="font-size:70px;     padding-top: 50px;
              padding-bottom: 70px; display: inline-flex;flex-direction: column; justify-content: center; align-items: center; text-align:center;">library_add</mat-icon></button></p>
      </div>
      </div>
    </div>
  </div>
</ng-container>
    </div>
</div>