<div class="dokumente" >

    <!--First Row-->
    <div class="row" style=" margin-top:50px; margin-left:0; margin-right:0;">
        <h2>Dies ist die Dokumenten Seite. Hier können Sie, fürs Studium relevante, Dokumente herrunterladen</h2>
    </div>
    <!--First Row-->

    <!--Second Row-->
    <div class="row" >
        <div class="col-md-12">
            <input type="suchbegriff" [(ngModel)]="searchText" class="form-control" id="suchbegriff" placeholder="Suchen">
        </div>
        <div class="col-md-10">
            <app-filter></app-filter>
            <button (click)="sortDocuments()" class="btn btn-lg btn-secondary" style="margin-right:30px;">Aktuellste zuerst</button>
            <button (click)="sortReverse()" class="btn btn-lg btn-secondary"> Reverse</button>
        </div>
    </div>
    <!--Second Row-->


    <!--Third Row-->
    <div class="row" style="margin-top:30px;">

        <!--Dokumente-->
        <div class="col-md-9 table-responsive">
            <table class=" table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name:</th>
                        <th scope="col">Kategorie:</th>
                        <th scope="col">Zuletzt geändert am:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let document of documents | textFilterDocuments:searchText">
                        <td><a href={{document.link}} style="color: black">{{document.name}}</a></td>
                        <td>{{document.categoriename}}</td>
                        <td>{{document.lastChanged}}</td>
                        <ng-container *ngIf="this.authorizationService.hasRole(['admin','pruefungsamt'])">
                        <td><button class="delete-dark" (click)="delete(document)" matTooltip="Löschen" matTooltipPosition="right">x</button></td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--Dokumente-->

        <ng-container *ngIf="this.authorizationService.hasRole(['admin','pruefungsamt'])">

            <!--Dokumente hochladen-->
            <div class="col-md-3" style="margin-bottom:20px;">
                <div class="card-deck">
                    <div class="card">
                        <div class="card-header" >
                            <h3>Dokument hochladen</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <button class="plus-btn" (click)="openDialog()">
                                 <mat-icon class="add_icon">library_add</mat-icon>
                                </button>
                            </p>
                        </div>
                   </div>
               </div>
            </div>
            <!--Dokumente hochladen-->
            
        </ng-container>
    </div>
</div>