/*.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  */
  .mat-stroked-button:not([disabled]) {
    border-color: transparent;
}
.mat-stroked-button:hover {
  background:#0b1a22;
}

.mat-stroked-button:visited {
  background:#0b1a22;
  border:none;
  box-shadow:none;
}

.mat-stroked-button:active {
  background:#0b1a22;
  border:none;
  box-shadow:none;
}

.mat-button-focus-overlay {
  background:#0b1a22 !important;
}

button:focus {
  outline: none;
}

  mat-sidenav-container {
    height: 100vh;
  }  

  .mat-flat-button:not([class*=mat-elevation-z]), .mat-stroked-button:not([class*=mat-elevation-z])
{box-shadow: transparent;}

.mat-button, .mat-icon-button, .mat-stroked-button {
  color: white;
  background:transparent;
}

.material-icons {
  margin-right:10px;

}

.bg-light {
/*background:#0b1a22 !important;*/
background: rgba(11,26,34,1);
background: -moz-linear-gradient(-45deg, rgba(11,26,34,1) 0%, rgba(26,46,56,1) 39%, rgba(11,26,34,1) 74%, rgba(11,26,34,1) 74%, rgba(11,26,34,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(11,26,34,1)), color-stop(39%, rgba(26,46,56,1)), color-stop(74%, rgba(11,26,34,1)), color-stop(74%, rgba(11,26,34,1)), color-stop(100%, rgba(11,26,34,1)));
background: -webkit-linear-gradient(-45deg, rgba(11,26,34,1) 0%, rgba(26,46,56,1) 39%, rgba(11,26,34,1) 74%, rgba(11,26,34,1) 74%, rgba(11,26,34,1) 100%);
background: -o-linear-gradient(-45deg, rgba(11,26,34,1) 0%, rgba(26,46,56,1) 39%, rgba(11,26,34,1) 74%, rgba(11,26,34,1) 74%, rgba(11,26,34,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(11,26,34,1) 0%, rgba(26,46,56,1) 39%, rgba(11,26,34,1) 74%, rgba(11,26,34,1) 74%, rgba(11,26,34,1) 100%);
background: linear-gradient(135deg, rgba(11,26,34,1) 0%, rgba(26,46,56,1) 39%, rgba(11,26,34,1) 74%, rgba(11,26,34,1) 74%, rgba(11,26,34,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b1a22', endColorstr='#0b1a22', GradientType=1 );
}

.mat-flat-button:not([class*=mat-elevation-z]), .mat-stroked-button:not([class*=mat-elevation-z]){
  box-shadow: none !important;
}

.mat-list .mat-list-item, .mat-nav-list .mat-list-item, .mat-selection-list .mat-list-item {
  color: white;
  margin-right:26px;
  margin-bottom: 10px;
}

.mat-list-item:hover {background-color:white; margin:0; padding:0;}
.mat-nav-list[_ngcontent-c1] .mat-list-item[_ngcontent-c1]:hover {
  color: #00b5ad;
  border-left: 10px solid #00b5ad;
}

.mat-input-element {
  caret-color: #ffffff;
  
}

a {
  color:white;
}

a:focus {
  color: #00b5ad;
}

.btn {
  margin: 10px 10px 10px 0px;
}

p {
  color:white; 
  padding-top: 15px; 
  font-size:14px; 
  font-weight:600;
}

.btn-secondary {
  background-color: black;
  text-align:left;
  font-weight:600;
}

.btn-secondary:hover {
  background-color: black;
  color: #00b5ad !important;
  border:1px solid #00b5ad;
}

.btn .btn-secondary .login {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
