<mat-sidenav-container>

  <!--Toggle Menu-->
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
    <mat-nav-list>
      <a routerLink="/dashboard"><img src="assets/img/fh/logo.png" style="padding-bottom:60px; padding-top:5px;" alt="Logo" width="180" height="auto"></a>
      <div *ngIf="info.token" style=" text-align:left; margin-left:30px;">
        <p style="color:white; font-size:14px; font-weight:600;">{{info.name}}</p>
        <p style="color:white; font-size:12.5px; margin-top: -12px;">{{info.authorities.toString() | titlecase}}</p>
      </div>
      <a mat-list-item routerLink="/dashboard">
        <mat-icon>apps</mat-icon>&nbsp;ÜBERSICHT
      </a>
      <a mat-list-item routerLink="/processes">
        <mat-icon>settings</mat-icon>&nbsp;PROZESSE
      </a>
      <a mat-list-item routerLink="/myprocesses">
        <mat-icon>update</mat-icon>&nbsp;LAUFENDE PROZESSE
      </a>
      <a mat-list-item routerLink="/documents">
        <mat-icon>description</mat-icon>&nbsp;DOKUMENTE
      </a>
      <a mat-list-item routerLink="/systems">
        <mat-icon>build</mat-icon>&nbsp;SYSTEME
      </a>
      <a mat-list-item routerLink="/profil">
        <mat-icon>person</mat-icon>&nbsp;PROFIL
      </a>
      <a mat-list-item routerLink="/faq">
        <mat-icon>help</mat-icon>&nbsp;HILFE
      </a>
      <div *ngIf="this.authService.isLoggedin">
        <a mat-list-item (click)="logout()">
          <mat-icon>input</mat-icon>&nbsp;ABMELDEN
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <!--Toggle Menu-->


  <!--Content-->
  <mat-sidenav-content>
    <nav class="navbar bg-light">
      <div class="col-3 col-sm-1 col-md-1">

        <!--Toggle Button-->
        <button mat-button (click)="sidenav.toggle()"><i class="material-icons">menu</i></button>
        <!--Toggle Button-->

      </div>

      <!--Show current Page Title-->
      <div class="col-5 col-sm-8 col-md-9">
        <h2 *ngIf="router.url == '/dashboard'">Übersicht</h2>
        <h2 *ngIf="router.url == '/processes'">Prozesse</h2>
        <h2 *ngIf="router.url == '/myprocesses'">Laufende Prozesse</h2>
        <h2 *ngIf="router.url == '/documents'">Dokumente</h2>
        <h2 *ngIf="router.url == '/systems'">Systeme</h2>
        <h2 *ngIf="router.url == '/profil'">Profil</h2>
        <h2 *ngIf="router.url.includes('/detail/')">Prozessdetails</h2>
        <h2 *ngIf="router.url == '/login'">Login</h2>
        <h2 *ngIf="router.url == '/faq'">FAQ</h2>
      </div>
      <!--Show current Page Title-->

      <ng-container *ngIf="!(this.authService.isLoggedin); else elseTemplate">

        <!--Login-->
        <div class="col-4 col-sm-3 col-md-2" >
          <div class="login-div" style="float:right;">
            <a href="/login" class="login">
              <mat-icon class="login-icon">input</mat-icon> Login
            </a>
          </div>
        </div>
        <!--Login-->

      </ng-container>

      <ng-template #elseTemplate>

        <!--Logout-->
        <div class="col-4 col-sm-3 col-md-2" style="padding-left:0; padding-right:0;">
          <div style="float:right;">
           <button class="btn btn-secondary login" style="color:white !important;" (click)="logout()">Logout
              <mat-icon style="margin-left:10px;" >input</mat-icon>
           </button>
          </div>
        </div>
        <!--Logout-->

       </ng-template>
       
    </nav>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>