@media only screen and (max-width: 767px) {
    .md-filter {
      margin-left:0 !important;
      padding-top:30px; padding-right:0; padding-left:0;
      
    }
}

.md-filter {
    margin-left:30px;
      padding-top:30px; padding-right:0; padding-left:0;
}
