<form name="generatedForm" role="form" class="ng-scope ng-valid ng-pristine">

	<div class="form-group">
		Matrikelnummer:
		<input class="form-control ng-valid ng-valid-cam-variable-type ng-pristine"
			name="matrikelnummer"
			cam-variable-type="Long"
			cam-variable-name="matrikelnummer"
			ng-model="matrikelnummer"
			type="text">
	</div>

	<div class="form-group">
		Fachnummer:
		<input class="form-control ng-valid ng-valid-cam-variable-type ng-pristine"
		name="fachnummer"
		cam-variable-type="Long"
		cam-variable-name="fachnummer"
		ng-model="fachnummer"
		type="text">
	</div>
</form>
