<ng-container *ngIf="info.token; else loginTemplate">
    <div class="profil">

        <h1 style="font-weight:300; font-size: 14px; color: #4d4d4d; margin-top:50px; margin-bottom: 50px">
            Dies ist eine Vorschau der Profil-Seite.
            Es sind alle abonnierten Prozesse zu sehen. Es können Prozesse abonniert werden.
        </h1>

        <!--First Row-->
        <div class="row">
            
            <!--User Details-->
            <div class="col-md-3">
                <p style="font-weight: 600">Username:</p>
                <p>{{info.username}}</p>  
                <p style="font-weight: 600">Name:</p>
                <p>{{info.username | titlecase}}</p>
                <p style="font-weight: 600">Vorname:</p>
                <p>{{info.username | titlecase}}</p>
                <p style="font-weight: 600">Rolle:</p>
                <p>{{info.authorities.toString() | titlecase }}</p>

                <!--Change Password-->
                <div class="row" style="margin-left:0px; margin-bottom: 25px" >
                    <a class="btn btn-abonnieren btn-secondary" href="https://www.fh-aachen.de/hochschule/datenverarbeitungszentrale/benutzeraccount/service-seite/anleitungen/aenderung-des-passwortes/"
                        target="_blank" >Änderung des Passworts</a>
                </div>
                <!--Change Password-->

                <!--Notifications-->
                <div class="row">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="checkedValue" (change)="eventNotification($event)"
                            checked>
                        Benachrichtigungen aktivieren
                    </label>
                </div>
                <!--Notifications-->

            </div>
            <!--User-Details-->

            <!--Divider-->
            <mat-divider [vertical]="true"></mat-divider>

            <!--Subscribtions-->
            <div class="col-md-8">

                <!--Subscribe Process-->
                <div class="row">
                    <div class="col-md">
                        <label for="Process">Prozess abonnieren</label>
                        <form [formGroup]="formProcessSub">
                            <select formControlName="processSubControl" id="processSelect" name="processSelect" class="form-control">
                                <option selected="selected" value="null">- keine Auswahl -</option>
                                <option *ngFor="let process of processes" value="{{process.processID}}">
                                    {{ process.name }}
                                </option>
                            </select>
                        </form>
                        <button (click)="subscribeProcess()" class="btn btn-secondary start-process-btn" style="float:left; margin-top:20px; margin-bottom:50px;">Abonnieren</button>
                    </div>
                </div>
                <!--Subscribe Process-->

                <!--Subscribe Running Process-->
                <div class="row">
                    <div class="col-md">
                        <label for="RunningProcess">Laufenden Prozess abonnieren</label>
                        <form [formGroup]="formRunningProcessSub">
                            <select formControlName="processRunningSubControl" class="form-control" id="SelectRunningProcess"
                                name="processRunningSelect">
                                <option selected="selected" value="null">- keine Auswahl -</option>
                                <option *ngFor="let process of runningProcesses" value="{{process.processID}}">{{process.name}}</option>
                            </select>
                        </form>
                        <button (click)="subscribeRunningProcess()" class="btn btn-secondary start-process-btn" style="float:left; margin-top:10px; margin-bottom:50px;">Abonnieren</button>
                    </div>
                </div>
                <!--Subscribe Running Process-->

                <!--Show Subscribed Processes-->
                <div class="row">
                    <div class="col-md">
                        <mat-tab-group>
                            <mat-tab label="Abonnierte Prozesse">
                                <table class="table">
                                    <tbody>
                                        <tr *ngFor="let process of subscribedProcesses">
                                            <td>{{process.name}}</td>
                                            <td><button class="delete-dark" title="deabonnieren" (click)="deleteSubscribedProcess(process)">x</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </mat-tab>
                            <mat-tab label="Abonnierte laufende Prozesse">
                                <table class="table">
                                    <tbody>
                                        <tr *ngFor="let process of subscribedProcessInstances">
                                            <td>{{process.name}}</td>
                                            <td><button class="delete-dark" title="deabonnieren" (click)="deleteSubscribedRunningProcess(process)">x</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
                <!--Show Subscribed Processes-->
            </div>
            <!--Subscribtions-->

        </div>
        <!--First Row-->
    </div>
</ng-container>

<!--Error Page-->
<ng-template #loginTemplate>
    <div class="error-login" style="text-align:center;">
        <div class="row">
            <div class="col-md-12">
                <h1 style="margin-top:100px; font-size:7em; font-weight:600;">
                    <span style="color:#0b1921;">4</span>
                    <span style="color:#00b5ad;">0</span>
                    <span style="color:#0b1921;">1</span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h6> Sie sind nicht angemeldet.</h6>
                ​<a routerLink="/login">
                    <button class="btn btn-secondary">Zur Login-Seite</button>
                </a>
            </div>
        </div>
    </div>
</ng-template>
<!--Error Page-->