<div *ngIf="process">

  <div class="row" style="padding: 10px 30px 10px 37px;">
    <div class="col-md-9">
        <h1 style="color: black; font-weight:400; font-size: 30px;">{{process.name}}</h1>
    </div>
    <div class="col-md-1">
        <button (click)="goBack()" class="btn btn-lg btn-secondary" style="margin-right:30px;">Zurück</button>
    </div>
    <div class="col-md-1 col-md-offset-1">
        <a href={{process.bpmn} class="btn btn-lg btn-secondary" style="margin-right:30px;">Download BPMN</a>
    </div>


  </div>

  <div class="row" style="padding: 0px 0px 0px 52px;">
    <p style="color: black">{{process.description}}</p>
  </div> 

  <div class="diagram-parent" style="padding: 10px 30px 10px 37px;">
      <app-diagram url={{process.bpmn}}></app-diagram>
  </div>

</div>