<div class ="bgbild" *ngIf="!(this.authService.isLoggedin); else logoutTemplate">
    <div class="col-md-4 offset-md-4">

      <!--Logo-->
      <div class="img-div">
        <a mat-list-item routerLink="/dashboard" class="logo-login-link">
          <img src="assets/img/fh/logo.png" alt="Logo" width="350" height="130">
        </a>
      </div>
      <!--Logo-->

      <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <!--Username-->
        <div class="form-group input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><img src="assets/img/fh/user.png" alt="user" width="20" height="20"></span>
          </div>
          <label for="username"></label>
          <input type="text" formControlName="username" placeholder="Benutzername" class="form-control" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.username.errors }"
            required />
          <div *ngIf="submitted && loginForm.controls.username.errors" class="invalid-feedback">
            <div *ngIf="loginForm.controls.username.errors.required">Benutzername erforderlich</div>
          </div>
        </div>
        <!--Username-->

        <!--Password-->
        <div class="form-group input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><img src="assets/img/fh/password.png" alt="user" width="20" height="20"></span>
          </div>
          <label for="password"></label>
          <input type="password" formControlName="password" placeholder="Passwort" class="form-control" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors }"
            required />
          <div *ngIf="submitted && loginForm.controls.password.errors" class="invalid-feedback">
            <div *ngIf="loginForm.controls.password.errors.required">Passwort erforderlich</div>
          </div>
        </div>
        <!--Password-->

        <!--Submit-->
        <div class="form-group">
          <button class="btn btn-secondary btn-block btn-login">Login</button>
        </div>
        <!--Submit-->

      </form>
    </div>
</div>

<ng-template #logoutTemplate>
  <app-error401></app-error401>
</ng-template>