<form ng-submit="submit()" role="form" name="form" class="ng-scope ng-pristine ng-valid">

	<!-- ngRepeat: x in students --><div ng-repeat="x in students" class="ng-binding ng-scope"> <!-- -->
		1 <!-- -->
		Note: <input value="" name="1" id="1" type="text"> <!-- -->
		<br>
	</div><!-- end ngRepeat: x in students --><div ng-repeat="x in students" class="ng-binding ng-scope"> <!-- -->
		2 <!-- -->
		Note: <input value="" name="2" id="2" type="text"> <!-- -->
		<br>
	</div><!-- end ngRepeat: x in students -->

	<script cam-script="" type="text/form-script">

		var variableManager = camForm.variableManager;
		var modulID;
		var final;
		var studentsList;
		var students = $scope.students = [];

		camForm.on('form-loaded', 
			function() {
				variableManager.fetchVariable('modul');
				variableManager.fetchVariable('final');
				variableManager.fetchVariable('Students');
			}
		);

		camForm.on('variables-fetched', 
			function() {
				modulID = variableManager.variableValue('modul');
				final = variableManager.variableValue('final');
				studentsList = variableManager.variableValue('Students');

				studentsList = JSON.parse(studentsList); //

				for (let i = 0; i <  Object.keys(studentsList).length; i++) {
					$scope.students.push({ID:Object.keys(studentsList)[i],note:studentsList[Object.keys(studentsList)[i]]}); //
				}
			}
		);

		camForm.on('submit',
			function(evt) {
				for (let i = 0; i <  Object.keys(studentsList).length; i++) {
					studentsList[Object.keys(studentsList)[i]] = angular.element(document.getElementById($scope.students[i].ID)).val(); //
					variableManager.destroyVariable('Students');
					
					camForm.variableManager.createVariable({
						name: 'Students',
						type: 'json',
						value: JSON.stringify(studentsList)
					});
				}
			}
		);
		
	</script>

</form>