h2 {
    color:black;
}

.abbrechen-btn {
    background:#bf4848;
    color:white;
    font-weight:400;
}

.bestaetigen-btn {
    background:#00b5ad;
    color:white;
    font-weight:400;
}

.mat-raised-button:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

.mat-form-field {
    width:600px; 
    height:auto;
}

i {
    margin-right:5px;
}

