<ng-container *ngIf="(this.authService.isLoggedin); else logoutTemplate">
    <div class="profil" style="margin-left:30px; margin-right:30px;">

        <div class="row"  style=" margin-top:50px; margin-left:0; margin-right:0;">
            <h1 style="font-weight:300; font-size: 14px; color: #4d4d4d;">Dies ist eine Vorschau der Profil-Seite.
                Es sind alle abonnierten Prozesse zu sehen. Es können Prozesse abonniert werden.</h1>
        </div>


        <div class="row"  style=" margin-left:0; margin-right:0; margin-bottom:20px;" >
            <button class="btn btn-abonnieren btn-secondary">Änderung des Passworts
            <a href="https://www.fh-aachen.de/hochschule/datenverarbeitungszentrale/benutzeraccount/service-seite/anleitungen/aenderung-des-passwortes/"
                target="_blank" style=color:black;> </a>
            </button>
            
        </div>

        <div class="row"   style=" margin-left:20; margin-bottom:20px;">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="checkedValue" (change)="eventNotification($event)"
                        checked>
                    Benachrichtigungen aktivieren
                </label>
        </div>



        <div class="row" style="margin-top:50px;">
            <div class="col-md-3">
                <label for="Process">Prozess abonnieren</label>
                <form [formGroup]="formProcessSub">
                    <select formControlName="processSubControl" id="processSelect" name="processSelect" class="form-control">
                        <option selected="selected" value="null">- keine Auswahl -</option>
                        <option *ngFor="let process of processes" value="{{process.processID}}">
                            {{ process.name }}
                        </option>
                    </select>
                </form>
                <button (click)="subscribeProcess()" class="btn btn-secondary start-process-btn" style="float:left; margin-top:20px; margin-bottom:50px;">Abonnieren</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label for="RunningProcess">Laufenden Prozess abonnieren</label>
                <form [formGroup]="formRunningProcessSub">
                    <select formControlName="processRunningSubControl" class="form-control" id="SelectRunningProcess"
                        name="processRunningSelect">
                        <option selected="selected" value="null">- keine Auswahl -</option>
                        <option *ngFor="let process of runningProcesses" value="{{process.processID}}">{{process.name}}</option>
                    </select>
                </form>
                <button (click)="subscribeRunningProcess()" class="btn btn-secondary start-process-btn" style="float:left; margin-top:10px; margin-bottom:50px;" >Abonnieren</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-tab-group>
                    <mat-tab label="Abonnierte Prozesse">
                        <table class="table">
                            <tbody>
                                <tr *ngFor="let process of subscribedProcesses">
                                    <td>{{process.name}}</td>
                                    <td><button class="delete-dark" title="deabonnieren" (click)="deleteSubscribedProcess(process)">x</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-tab>
                    <mat-tab label="Abonnierte laufende Prozesse">
                        <table class="table">
                            <tbody>
                                <tr *ngFor="let process of subscribedProcessInstances">
                                    <td>{{process.name}}</td>
                                    <td><button class="delete-dark" title="deabonnieren" (click)="deleteSubscribedRunningProcess(process)">x</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #logoutTemplate>
    <div class="row"  style=" margin-left:0; margin-right:0; padding-left: 15px; margin-top:50px;" >
       <div class="col-md-10"> <h1 style="font-weight:300; font-size: 14px; color: #4d4d4d;">Sie sind nicht angemeldet!</h1> </div>
    </div>

</ng-template>