<div *ngIf="process">
      
    <h2 style="color: black">{{process.name}} Details</h2>
    <div>
      <h4>Name: {{process.name}}</h4>
      <hr>
      <p>Beschreibung: {{process.beschreibung}} </p>
      <hr>
      <a href={{process.bpmn} style="color: black">Download BPMN</a>
      <hr>
      <a href={{process.varDatei} style="color: black">Download VAR (falls vorhanden)</a>
      <hr>
      <p>Anzeige BPMN {{process.bpmn}}</p>
    </div>

    <button (click)="goBack()">Zurück</button>
  </div>