<div style="padding:10px 5px 25px 5px;">
    <h2>Dokument hinzufügen</h2>
    <hr>
    <mat-dialog-content [formGroup]="form">
        <mat-form-field style="width:600px; height:auto;">
            <label for="name"></label>
            <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
        <hr>
        <mat-form-field style="width:600px; height:auto">
            <label for="kategorie"></label>
            <input matInput placeholder="Kategorie" formControlName="categoriename">
        </mat-form-field>
        <hr>
        <mat-form-field style="width:600px; height:auto;">
            <label for="link"></label>
            <input matInput placeholder="Placeholder bis Fileserver" formControlName="link">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button (click)="onCloseConfirm()" (click)="openSnackBar()" class="bestaetigen-btn"> <i class="material-icons" style="margin-right:5px;">check</i>Bestätigen</button>&nbsp;
        <button mat-raised-button (click)="onCloseCancel()" class="abbrechen-btn"> <i class="material-icons" style="margin-right:5px;">close</i>Abbrechen</button>
    </mat-dialog-actions>
</div>