<div class="row" style="margin-top:50px;">
  
  <div class="col-md-6" style="margin-bottom:20px;">
    <div class="card" style="border-color:#00b5ad;">
      <div class="card-header" style="border-color:#00b5ad; background:#00b5ad;">
        <h3 style="font-weight:400; font-size: 17px;">Laufende Prozesse</h3> 
      </div>

      <div class="card-body" style="background: #00b5ad;">
        <div class="card-text" style="color:white;"><mat-icon id="icon-big">update</mat-icon> 
          <p class="list-processes">Prozess 1</p>
          <p>Prozess 2</p>
        </div>
        
        <p class="card-text"><a href="#"><button class="btn btn-secondary light-green">Mehr</button></a></p>
      </div>
    </div>
  </div>

  <div class="col-md-3" style="margin-bottom:20px;">
    <div class="card" style="border: 1px solid #cccccc;">
      <div class="card-header" style="border: 1px solid#cccccc; color: #656565;">
        <h3 style="font-weight:400; font-size: 17px;">Prozess hinzufügen</h3>
      </div>
      <div class="card-body" style="background-color: #f5f5f5;">
          <p class="card-text" style="text-align:center;"> 
            <button class="round-plus-btn" (click)="openDialogDocument()">+</button></p>
      </div>
    </div>
  </div>

  <div class="col-md-3" style="margin-bottom:20px;">
    <div class="card" style="border: 1px solid #cccccc;">
      <div class="card-header" style="border: 1px solid #cccccc; color:#656565;">
        <h3 style="font-weight:400; font-size: 17px;">Dokument hochladen</h3>
      </div>
      <div class="card-body" style="background-color: #f5f5f5;">
          <p class="card-text" style="text-align:center;">
            <button class="round-plus-btn" (click)="openDialogDocument()">+</button></p>
      </div>
    </div>
  </div>

</div>

<div class="row" >
 
  <div class="col-md-3" style="margin-bottom:20px;">
    <div class="card" style="border: 1px solid rgba(0, 0, 0, 0.125);">
      <div class="card-header" style="border-color:#f5f5f5; background:#00b5ad;">
        <h3 style="font-weight:400; font-size: 17px;">Systeme</h3>
      </div>
      <div class="card-body" style="background-color: #f5f5f5;">
        <p class="card-text" style="color:#4d4d4d;">
          Hier finden Sie alle notwendigen Systeme wie Campus, ILIAS, QIS ...
        </p>
        <p class="card-text mt-auto"><a routerLink="/systems"><button class="btn btn-secondary">Zur System-Seite</button></a></p>
      </div>
    </div>
  </div>
  
  <div class="col-md-3" style="margin-bottom:20px;">
    <div class="card" style="border-color: 1px solid rgba(0, 0, 0, 0.125);">
      <div class="card-header" style="border-color:#f5f5f5;  background:#00b5ad; text-align: left">
        <h3 style="font-weight:400; font-size: 17px;">Prozesse</h3>
      </div>
      <div class="card-body " style="background-color: #f5f5f5;">
        <p class="card-text" style="color:#4d4d4d;">
          Hier finden Sie alle notwendigen Prozesse wie Einschreibung, Praxissemester, ...
        </p>
        <p class="card-text mt-auto"><a routerLink="/processes"><button class="btn btn-secondary">Zur Prozess-Seite</button></a></p>
      </div>
    </div>
  </div>

  <div class="col-md-6" style="margin-bottom:20px;">
    <div class="card" style="border-color:#00b5ad;">
      <div class="card-header"  style="border-color:#00b5ad; background:#00b5ad;">
        <h3 style="font-weight:400; font-size: 17px;">Dokumente</h3>
      </div>
      <div class="card-body" style="background: #00b5ad;"><mat-icon id="icon-big">description</mat-icon> 
        <div *ngFor="let document of documents">
          <p><a href={{document.link}} style="color: white">{{document.name}}</a></p>
      </div>
      <a routerLink="/documents"><button class="btn btn-secondary light-green">Alle Dokumente</button></a>
  
      </div>
    </div>
  </div>


</div>