<div class="dokumente">
    <div class="row" style="padding: 65px 0px 0px 40px;">
        <h2 style="color: black; font-weight:300; font-size: 17px;">Das ist eine Vorschau der Dokumenten Seite.</h2>
    </div>
    <div class="row" style="font-weight:300; font-size:20px; padding: 30px 30px 0px 37px;"> Dokumente filtern </div>
    <app-filter></app-filter>

    <div class="row" style="padding: 30px 0px 0px 20px;">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name:</th>
                        <th>Typ:</th>
                        <th>Zuletzt geändert am:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dokument of dokumente">
                        <td><a href={{dokument.link}} style="color: black">{{dokument.name}}</a></td>
                        <td>{{dokument.Kategoriename}}</td>
                        <td>{{dokument.lastChanged}}</td>
                        <td><button class="delete-dark" title="delete dokument" (click)="delete(dokument)">x</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!--
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlFile1">Dokument hochladen</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
            </form>
        </div>
        -->
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-3 box-shadow">
                  <div class="card-header" style="background-color: #0b1820a8;">Dokument hinzufügen</div>
                  <div class="card-body" style="height: 300px;">
                    <p class="card-text" style="text-align:center;">
                      <button class="btn btn-secondary round-plus-btn" (click)="openDialog()" style="margin-top: 70px; width: 100px; height: 100px">+</button>
                    </p>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>