<div class="dokumente">
  <div class="row">
    <h2>Das ist eine Vorschau der Dokumenten Seite.</h2>
  </div>
  <div class="row">
      <div class="col-md">
              <label for="Suchbegriff">Suchbegriff</label>
              <input type="suchbegriff" class="form-control" id="suchbegriff" placeholder="Suchen">
      </div>
      <div class="col-md">
              <label for="Typ">Typ</label>
                  <select class="form-control" id="SelectTyp">
                      <option>Alle</option>
                      <option>Studienbescheinigung</option>
                      <option>Informatik</option>
                      <option>MCD</option>
                  </select>
      </div>
      <div class="col-md">
              <label for="Zeitraum">Zeitraum</label>
                  <select class="form-control" id="SelectZeitraum">
                      <option>Alle</option>
                      <option>2018</option>
                      <option>2018</option>
                      <option>2016</option>
                      <option>2015</option>
                  </select>
      </div>
      <div class="col-md" style="padding-top:30px">
              <button type="submit" class="btn btn-default btn-outline">Filtern</button>
      </div>
  </div>
  <div class="row">
      <div class="col-md-8">
	  			<table class="table">
            <thead>
				    <tr>
				      <th>Name:</th>
				      <th>Typ:</th>
				      <th>Zuletzt geändert am:</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let dokument of dokumente">
                  <td>{{dokument.name}}</td>
                  <td>{{dokument.typ}}</td>
                  <td>{{dokument.date}}</td>
                  <td><button class="delete" title="delete dokument" (click)="delete(dokument)">x</button></td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
          <form>
              <div class="form-group">
                <label for="exampleFormControlFile1">Dokument hochladen</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
            </form>
      </div>
  </div>
</div>